@font-face {
    font-family: 'PersonaText';
    src: url(./font/p5hatty.ttf);
}

@font-face {
    font-family: 'HeadlineText';
    src: url(./font/Expose-Regular.otf);
}
@font-face {
    font-family: 'MenuText';
    src: url(./font/Persona5MenuFontPrototype-Regular.ttf);
}
:root {
    --font-headline: 'HeadlineText';
    --font-menu: 'MenuText';
    --font-persontext: 'PersonaText';
}

body {
    
    background-image: url(https://external-preview.redd.it/e_WvRTzU3h8NRiSkXxtrDzSxL89fFBwXiSA-wTmvSCI.png?auto=webp&s=763b39be53f75339c6e7a95911345175709d2800);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: var(--font-menu), sans-serif;
    

  }


  .date-time__container{
 
    text-align: left;
    position: relative;
    color: #202020;
    position: fixed;
    width: 200px;
    height: 100px;
    padding: 10px;
    clip-path: polygon(0 4%, 91% 3%, 100% 54%, 0 81%);
    overflow: auto;
    padding: 1em;
  }
  .date{
    margin: 0;
    color: #ffffff; /* Text color */
  -webkit-text-stroke: 1px #000000; /* White border */
    font-size: 50px;
    transform: rotate(353deg) translate(0px, 0px);
    background-color: #000000;
  }
  .weekdays{
    background-color: black;
    color: #ffffff;
  
    position: absolute;
    top: 15%;
    left: 60%;
    font-family: var(--font-menu);
    font-size: 30px;
    transform: rotate(353deg);
  }

.pomodor__container{
  
 text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
 
}
.timer-container__title{
  font-family: var(--font-headline);
  background-color: #0d0d0d;
  border: 10px solid #ffff;
  border-radius: 10px;
  color: #1b1d26;
  padding: 10px;
  text-transform: uppercase;
  transform: skewX(-30deg);
  color: white;
 

}



  .timer-container {
   
    padding: 2rem;
    margin-top: 50px;
  }
  .timer-container div{
    font-size: 3rem;
    
  }
  .timer {
    font-size: 6rem;
    font-family: var(--font-persontext);
    margin-bottom: 20px;
  }
  button {
    background-color: #ffcc00;
    color: #202020;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  button:hover {
    background-color: #e0b600;
  }
  